<!-- Файл шаблона расположен в папке backend/modules/system/templates/system/registration/email_confirmed.html -->

<!-- Наследуем основной шаблон 'main.html' для сохранения общего стиля и компонентов сайта -->
{% extends 'main.html' %}

<!-- Блок контента, отображающий сообщение об успешном подтверждении адреса электронной почты -->
{% block content %}
    <!-- Создаем блок оповещения с классом "alert-success", чтобы сообщить о успешном подтверждении почты -->
    <div class="alert alert-success" role="alert">
        <!-- Заголовок сообщения об успешном подтверждении -->
        <h4 class="alert-heading">Электронная почта подтверждена</h4>
        <!-- Текст сообщения, уведомляющий пользователя о том, что его электронная почта успешно подтверждена -->
        <p>Ваш адрес электронной почты успешно подтвержден. Спасибо за регистрацию!</p>
    </div>
<!-- Конец блока контента -->
{% endblock %}
