<!-- Файл шаблона расположен в папке backend/modules/system/templates/system/registration/email_confirmation_sent.html -->

<!-- Наследуем основной шаблон 'main.html' для сохранения общего стиля и компонентов сайта -->
{% extends 'main.html' %}

<!-- Блок контента, отображающий сообщение об отправке письма с подтверждением -->
{% block content %}
    <!-- Создаем блок оповещения с классом "alert-info", чтобы сообщить о отправке письма с подтверждением -->
    <div class="alert alert-info" role="alert">
        <!-- Заголовок сообщения о успешной отправке письма с подтверждением -->
        <h4 class="alert-heading">Письмо подтверждения отправлено!</h4>
        <!-- Текст сообщения, уведомляющий пользователя о том, что письмо с подтверждением отправлено -->
        <p>
            На ваш адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте свою
            электронную почту и нажмите на ссылку подтверждения, чтобы завершить регистрацию.
            Если письмо не пришло, проверьте папку спам.
        </p>
    </div>
    <!-- Конец блока контента -->
{% endblock %}