<!-- Файл шаблона расположен в папке backend/modules/system/templates/system/registration/email_confirmation_failed.html -->

<!-- Наследуем основной шаблон 'main.html' для сохранения общего стиля и компонентов сайта -->
{% extends 'main.html' %}

<!-- Блок контента, отображающий сообщение об ошибке подтверждения по электронной почте -->
{% block content %}
    <!-- Создаем блок оповещения с классом "alert-danger", чтобы сообщить об ошибке подтверждения по электронной почте -->
    <div class="alert alert-danger" role="alert">
        <!-- Заголовок сообщения об ошибке подтверждения по электронной почте -->
        <h4 class="alert-heading">Ошибка подтверждения по электронной почте</h4>
        <!-- Текст сообщения, уведомляющий пользователя о том, что ссылка для подтверждения недействительна или срок ее действия истек -->
        <p>Ссылка для подтверждения по электронной почте недействительна или срок ее действия истек. Пожалуйста,
            зарегистрируйтесь снова.</p>
    </div>
    <!-- Конец блока контента -->
{% endblock %}