<!-- Файл шаблона расположен в папке backend/templates/sidebar.html -->

{% load mptt_tags blog_tags %}

<div class="card mb-2"> <!-- Начало блока с категориями -->
    <div class="card-body">
        <h5 class="card-title">Категории</h5> <!-- Заголовок блока "Категории" -->

        <!-- Получаем полное дерево категорий из модели Category приложения blog и присваиваем его переменной categories -->
        {% full_tree_for_model blog.Category as categories %}

        <div class="card-text">
        <ul> <!-- Начало списка категорий -->
            {% recursetree categories %} <!-- Рекурсивный обход дерева категорий -->
                <li>
                    <!-- Ссылка на категорию с ее названием -->
                    <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                </li>

                <!-- Если категория не является конечным узлом (имеет дочерние категории), то открываем вложенный список -->
                {% if not node.is_leaf_node %}
                    <ul>{% endif %}
            {{ children }} <!-- Рендерим дочерние категории -->

            <!-- Если категория не является конечным узлом, то закрываем вложенный список -->
            {% if not node.is_leaf_node %}</ul>{% endif %}
            {% endrecursetree %} <!-- Конец рекурсивного обхода дерева категорий -->
        </ul> <!-- Конец списка категорий -->
        </div>
    </div>
</div> <!-- Конец блока с категориями -->

<div class="card mb-2">
	<div class="card-body">
		<h5 class="card-title">Популярные теги</h5>
		<div class="card-text">
			<ul>
				{% popular_tags as tag_list %} 
                {% for tag in tag_list %}
				<li><a href="{% url 'articles_by_tags' tag.slug %}">{{ tag.name }}</a> ({{ tag.num_times }})</li>
				{% empty %}
				<li>Популярных тегов не найдено.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% show_latest_comments count=5 %}

