<!-- Файл шаблона расположен в папке backend/templates/sidebar.html -->

{% load mptt_tags blog_tags %} <!-- Загрузка тегов для работы с MPTT и собственными тегами блога -->

{% load blog_tags cache %} <!-- Загрузка тегов блога и кэширования -->

<div class="card mb-2"> <!-- Начало блока с категориями -->
    <div class="card-body">
        <h5 class="card-title">Категории</h5> <!-- Заголовок блока "Категории" -->

        <!-- Получаем полное дерево категорий из модели Category приложения blog и присваиваем его переменной categories -->
        {% full_tree_for_model blog.Category as categories %}

        <div class="card-text">
            <ul> <!-- Начало списка категорий -->
                {% recursetree categories %} <!-- Рекурсивный обход дерева категорий -->
                    <li>
                        <!-- Ссылка на категорию с ее названием -->
                        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                    </li>

                    <!-- Если категория не является конечным узлом (имеет дочерние категории), то открываем вложенный список -->
                    {% if not node.is_leaf_node %}
                        <ul>{% endif %}
                {{ children }} <!-- Рендерим дочерние категории -->

                <!-- Если категория не является конечным узлом, то закрываем вложенный список -->
                {% if not node.is_leaf_node %}</ul>{% endif %}
                {% endrecursetree %} <!-- Конец рекурсивного обхода дерева категорий -->
            </ul> <!-- Конец списка категорий -->
        </div>
    </div>
</div> <!-- Конец блока с категориями -->

<!-- Блок с популярными тегами -->
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Популярные теги</h5> <!-- Заголовок блока "Популярные теги" -->
        <div class="card-text">
            <ul> <!-- Начало списка тегов -->
                {% popular_tags as tag_list %} <!-- Получаем список популярных тегов -->
                {% for tag in tag_list %}      <!-- Проходимся по каждому тегу в списке -->
                    <li>
                        <!-- Ссылка на страницу с статьями по данному тегу -->
                        <a href="{% url 'articles_by_tags' tag.slug %}">{{ tag.name }}</a>
                        ({{ tag.num_times }}) <!-- Количество раз, которое данный тег используется -->
                    </li>
                {% empty %}
                    <li>Популярных тегов не найдено.</li> <!-- Если нет популярных тегов, выводим сообщение -->
                {% endfor %}
            </ul> <!-- Конец списка тегов -->
        </div>
    </div>
</div> <!-- Конец блока с популярными тегами -->

{% cache 300 sidebar %} <!-- Кэширование блока sidebar на 300 секунд -->
    <!-- Блок с популярными статьями за последние 7 дней -->
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Популярные статьи за 7 дней</h5>
            <!-- Заголовок блока "Популярные статьи за 7 дней" -->
            <div class="card-text">
                <ul> <!-- Начало списка популярных статей -->
                    {% popular_articles as articles_list %}
                    <!-- Получаем список популярных статей за последние 7 дней -->
                    {% for article in articles_list %}      <!-- Проходимся по каждой статье в списке -->
                        <li>
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            <!-- Ссылка на статью с ее названием -->
                            ({{ article.get_view_count }})        <!-- Количество просмотров статьи за все время -->
                            +({{ article.get_today_view_count }})
                            <!-- Количество просмотров статьи за сегодняшний день -->
                        </li>
                    {% empty %}
                        <li>Популярных статей не найдено.</li> <!-- Если нет популярных статей, выводим сообщение -->
                    {% endfor %}
                </ul> <!-- Конец списка популярных статей -->
            </div>
        </div>
    </div> <!-- Конец блока с популярными статьями за последние 7 дней -->
{% endcache %} <!-- Конец кэшированного блока -->

{% show_latest_comments count=5 %} <!-- Вывод последних комментариев -->
