<!-- Файл шаблона расположен в папке backend/templates/includes/latest_comments.html -->

<div class="card"> <!-- Начало блока с классом "card" (карточка) -->
    <div class="card-body"> <!-- Начало контейнера для содержимого карточки -->
        <h5 class="card-title">Последние комментарии</h5> <!-- Заголовок карточки "Последние комментарии" -->
        <div class="card-text"> <!-- Начало контейнера для текста карточки -->
            <ul> <!-- Начало неупорядоченного списка -->
                {% for comment in comments %} <!-- Цикл для перебора комментариев в переменной comments -->
                    <!-- Вывод автора и содержимого комментария без HTML-тегов -->
                    <li>{{ comment.author }} - {{ comment.content|striptags }}</li>
                {% empty %} <!-- Если комментариев нет -->
                    <li>Комментариев нет.</li> <!-- Вывод сообщения "Комментариев нет" -->
                {% endfor %}
            </ul>
        </div>
    </div>
</div> <!-- Конец блока с классом "card" (карточка) -->