<!-- Файл шаблона расположен в папке backend/modules/blog/templates/blog/articles_list.html -->

{% extends 'main.html' %} <!-- Наследуемся от главной страницы -->

{% block content %}
    {% for article in articles %}   <!-- Цикл для перебора статей -->
        <div class="card mb-3">     <!-- Создаем карточку для каждой статьи с отступом снизу -->
            <div class="row">       <!-- Создаем строку для размещения изображения и информации о статье -->
                <div class="col-4"> <!-- Колонка для изображения -->

                    <!-- Изображение статьи -->
                    <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.title }}">
                </div>
                <div class="col-8">
                    <!-- Колонка для информации о статье -->
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>                <!-- Заголовок статьи -->
                        <div class="card-subtitle">{{ article.author.username }}</div> <!-- Имя автора статьи -->
                        <p class="card-text">{{ article.short_description }}</p>       <!-- Краткое описание статьи -->
                        <a href="{% url 'articles_detail' article.slug %}"
                           class="btn btn-primary">{{ article.category.title }}</a>
                        <!-- Кнопка для перехода к списку статей этой категории -->
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
