<!-- Файл шаблона расположен в папке backend/modules/blog/templates/blog/articles_func_list.html -->

<!-- Наследует базовый шаблон 'main.html', что позволяет использовать общую структуру и стили для всех страниц -->
{% extends 'main.html' %}

<!-- Начало блока 'content', который будет заменен содержимым этого шаблона в основном шаблоне -->
{% block content %}

    <!-- Цикл, который проходит по каждой статье в объекте 'page_obj' (страница со списком статей) -->
    {% for article in page_obj %}

        <!-- Создает блок в виде карточки с небольшим отступом снизу -->
        <div class="card mb-3">

            <!-- Создает строку для размещения изображения и информации о статье -->
            <div class="row">

                <!-- Колонка для изображения статьи -->
                <div class="col-4">

                    <!-- Отображает изображение статьи (превью) с альтернативным текстом, равным заголовку статьи -->
                    <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.title }}">
                </div>

                <!-- Колонка для информации о статье -->
                <div class="col-8">

                    <!-- Создает тело карточки для размещения текстовой информации -->
                    <div class="card-body">
                        <!-- Отображает заголовок статьи -->
                        <h5 class="card-title">{{ article.title }}</h5>

                        <!-- Отображает имя пользователя автора статьи -->
                        <div class="card-subtitle">{{ article.author.username }}</div>

                        <!-- Отображает краткое описание статьи -->
                        <p class="card-text">{{ article.short_description }}</p>

                        <!-- Создает кнопку, которая ссылается на страницу со списком статей для данной категории, отображая название категории -->
                        <a href="{% url 'articles_by_category' article.category.slug %}"
                           class="btn btn-primary">{{ article.category.title }}</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Завершение цикла по списку статей -->
    {% endfor %}
    <!-- Завершение блока 'content' -->
{% endblock %}
