# form_filling_bot_fsm/.env.example

# Настройки токена и списка администраторов для бота.
# BOT_TOKEN - токен для доступа к API Telegram.
BOT_TOKEN=6845206404:AAERPYlZSS9MYyJJr5xPo--jUo3Xmf3DXT0
# ADMIN_IDS - список идентификаторов администраторов бота, разделенных запятой.
ADMIN_IDS=1618695425
