# edit_messages/.env.example

# Настройки токена и списка администраторов для бота.
# BOT_TOKEN - токен для доступа к API Telegram.
BOT_TOKEN=6845206404:AAERPYlZSS9MYyJJr5xPo--jUo3Xmf3DXT0
# ADMIN_IDS - список идентификаторов администраторов бота, разделенных запятой.
ADMIN_IDS=1618695425

#
## Настройки для подключения к базе данных.
## DB_NAME - название базы данных.
#DB_NAME=my_database
## DB_HOST - адрес хоста базы данных.
#DB_HOST=127.0.0.1
## DB_USER - имя пользователя базы данных.
#DB_USER=dbUser
## DB_PASSWORD - пароль для доступа к базе данных.
#DB_PASSWORD=dbPassword
