{# website_page_templates/templates/about.html #}

{% extends 'base.html' %}          {# Указываем, что этот шаблон расширяет (наследует) шаблон 'base.html' #}

{% block content %}       {# Открываем блок для контента, который будет вставлен в блок 'content' из базового шаблона #}
{{ super() }}                      {# Вставляем содержимое блока 'content' из базового шаблона с помощью super() #}
<p>Содержимое страницы "о сайте"   {# Добавляем дополнительное содержимое в блок 'content' текущего шаблона #}
{% endblock %}                     {# Завершаем блок для контента текущего шаблона #}
