{# website_page_templates/templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Подключение стилей из внешнего CSS-файла с использованием Flask-функции url_for -->
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>

    {% block title -%} {# Открываем блок для заголовка страницы #}
        {% if title %} {# Если заголовок передан, то #}
            <!-- Устанавливаем заголовок страницы с переменной title -->
            <title>Про Flask - {{ title }}</title>
        {% else %} {# Иначе, если заголовок не передан #}
            <!-- Устанавливаем стандартный заголовок страницы -->
            <title>Про Flask</title>
        {% endif %} {# Завершаем условие #}
    {% endblock %} {# Завершаем блок для заголовка страницы #}
</head>
<body>
{% block content -%} {# Открываем блок для контента страницы #}

    {%- block mainmenu -%} {# Открываем блок для главного меню #}
        <!-- Создаем главное меню с элементами из переменной menu -->
        <ul class="mainmenu">
            {% for i in menu -%} {# Для каждого элемента в переменной menu #}
                <!-- Выводим элемент списка с ссылкой и названием -->
                <li><a href="{{ i.url }}">{{ i.name }}</a></li>
            {% endfor -%} {# Завершаем цикл #}
        </ul>
        <!-- Завершаем список главного меню -->
    {% endblock mainmenu -%} {# Завершаем блок для главного меню #}

    <!-- Создаем блок для очистки float-элементов -->
    <div class="clear"></div>

    <!-- Создаем блок для контента страницы -->
    <div class="content">
    {% if title -%} {# Если заголовок передан #}
        <!-- Выводим заголовок страницы -->
        <h1>{{ title }}</h1>
    {% else -%} {# Иначе, если заголовок не передан #}
        <!-- Выводим стандартный заголовок страницы -->
        <h1>Про Flask</h1>
    {% endif -%} {# Завершаем условие #}
{% endblock -%} {# Завершаем блок для контента страницы #}

</div>
</body>
</html>
