{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфолио разработчика - {% block title %}{% endblock %}</title>
    <meta name="description" content="Портфолио Романа Штефанесы - веб-разработчика">
    <meta name="keywords" content="веб-разработка, портфолио, Django">
    <meta name="author" content="Роман Штефанеса">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="{% url 'index' %}">
                <h1>Портфолио</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-5">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Обо мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main id="main">
    {% include 'portfolio/includes/messages.html' %}
    {% block content %}{% endblock %}
</main>

<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="mb-1">&copy; {% now "Y" %} Роман Штефанеса</p>
            </div>
            <div class="col-sm-6 social text-md-end">
                <a href="#" aria-label="Telegram"><span class="bx bxl-telegram"></span></a>
                <a href="#" aria-label="GitHub"><span class="bx bxl-github"></span></a>
                <a href="#" aria-label="Stack Overflow"><span class="bx bxl-stack-overflow"></span></a>
                <a href="#" aria-label="LinkedIn"><span class="bx bxl-linkedin"></span></a>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>