asgiref==3.11.1
attrs==26.1.0
Django==6.0.5
django-stubs==6.0.5
django-stubs-ext==6.0.5
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
drf-spectacular==0.29.0
gunicorn==26.0.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.2
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pytest==9.0.3
pytest-django==4.12.0
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.5.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
uritemplate==4.2.0
whitenoise==6.12.0
