<!-- telegram_planfix_integrationget_status/templates/get_status.html -->

<!-- HTML-элемент на клиентской стороне для получения статуса клиента -->
<button type="button" onclick="getClientStatus()">Get Client Status</button>

<!-- Подключение созданных JS-файлов -->
<script src="{{ url_for('static', filename='js/ajax_get_status.js') }}"></script>

<!-- Ajax-обработчик на клиентской стороне -->
<script>
    function getClientStatus() {
        // Запрос данных с сервера
        $.ajax({
            type: "GET",
            url: "/get_status/1",  // Замените 1 на фактический ID клиента
        })
            .done(function (response) {
                console.log(response);  // Обработка успешного ответа от сервера
            })
            .fail(function (error) {
                console.error(error);  // Обработка ошибки
            });
    }

</script>
