aiohttp==3.9.2
aiosignal==1.3.1
asgiref==3.7.2
attrs==23.2.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
Flask==3.0.1
frozenlist==1.4.1
h11==0.14.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.4
multidict==6.0.4
phonenumbers==8.13.29
pyaes==1.6.1
pyasn1==0.5.1
rsa==4.9
Telethon==1.33.1
uvicorn==0.27.0
Werkzeug==3.0.1
yarl==1.9.4
