/* Стили для тела страницы */
body {
    width: 100%; /* Ширина на всю страницу */
    height: 100vh; /* Высота на весь видимый экран */
    background: violet; /* Фоновый цвет (на случай, если изображение не загрузится) */
    background-image: url('../img/world-curr.jpg'); /* Фоновое изображение */
    background-position: center; /* Центрирование фонового изображения */
    background-repeat: no-repeat; /* Запрет повторения фонового изображения */
    background-size: cover; /* Масштабирование изображения для покрытия всего фона */
    position: relative; /* Установка относительного позиционирования */
}

/* Стили для основного контейнера */
.container {
    height: 100%; /* Высота на всю высоту родительского элемента */
    display: flex; /* Использование flexbox для выравнивания */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin: auto; /* Автоматические отступы по бокам */
}

/* Стили для обертки формы */
.form-wrap {
    border-radius: 14px; /* Скругление углов */
    border: 3px solid black; /* Черная рамка толщиной 3px */
    box-shadow: 0px 6px 20px #9c75ee, 0px 51px 69px rgb(23 18 43 / 59%); /* Двойная тень */
}

/* Стили для кнопки отправки */
.submit-btn {
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для тела карточки */
.card-body {
    margin: auto; /* Автоматические отступы */
    justify-content: center; /* Выравнивание содержимого по центру */
    text-align: center; /* Выравнивание текста по центру */
    height: 100px; /* Фиксированная высота */
}

/* Медиа-запрос для экранов шириной от 481px и выше */
@media (min-width: 481px) {
    .card {
        max-width: 1000px; /* Максимальная ширина карточки */
        min-width: 700px; /* Минимальная ширина карточки */
    }
}

/* Медиа-запрос для экранов шириной до 480px */
@media (max-width: 480px) {
    .card {
        max-width: 1000px; /* Максимальная ширина карточки */
    }
}

/* Стили для горизонтальной линии */
hr {
    border: none; /* Убираем стандартную рамку */
    height: 3px; /* Толщина линии */
    background-color: #007bff; /* Голубой цвет */
    margin: 1rem 0; /* Отступы сверху и снизу */
}