<!-- Файл шаблона расположен в папке backend/modules/system/templates/system/email/activate_email_send.html -->

<!-- Директива (autoescape off) в Django используется для указания системе шаблонов Django, что все содержимое 
внутри блока должно рассматриваться как неэкранированный текст. Это означает, что специальные символы HTML (например, 
<, >, &) не будут автоматически преобразованы в HTML-сущности, и содержимое будет выведено на страницу как есть. -->
{% autoescape off %}

    <!-- Приветственное сообщение с именем пользователя, полученным через метод get_full_name объекта User. -->
    Здравствуйте, {{ user.get_full_name }}!

    <!-- Сообщение с инструкцией для пользователя о необходимости перейти по ссылке для активации аккаунта. -->
    Пожалуйста, перейдите по следующей ссылке, чтобы подтвердить свой адрес электронной почты на нашем сайте:

    <!-- Переменная activation_url, содержащая URL для активации аккаунта, генерируемый в Python-коде. -->
    {{ activation_url }}

    <!-- Завершающая часть письма с указанием команды сайта, созданного на Django. -->
    Команда сайта созданного на Django

    <!-- Закрытие блока autoescape, указывающее Django вернуться к стандартной экранировке HTML. -->
{% endautoescape %}
