<!-- Файл шаблона расположен в папке backend/modules/system/templates/system/email/feedback_email_send.html -->


<!-- Директива (autoescape off) в Django используется для указания системе шаблонов Django, что все содержимое 
внутри блока должно рассматриваться как неэкранированный текст. Это означает, что специальные символы HTML (например, 
<, >, &) не будут автоматически преобразованы в HTML-сущности, и содержимое будет выведено на страницу как есть. -->
{% autoescape off %}

    Здравствуйте, Администратор,

    С контактной формы поступило новое сообщение со следующим содержимым:

    {{ content }}

    IP Адрес отправителя: {{ ip }}
    Email отправителя: {{ email }}
    {% if user %}Пользователь: {{ user.username }}{% endif %}

    Команда сайта Django

{% endautoescape %}