<!-- Файл шаблона расположен в папке backend/modules/system/templates/system/profile_edit.html -->

{% block content %}
    <!-- Карточка для изменения профиля пользователя -->
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <!-- Заголовок карточки -->
            <div class="card-title nth-card-title">
                <h4>Изменение профиля</h4>
            </div>
            <!-- Форма для изменения профиля -->
            <form method="post" enctype="multipart/form-data">
                <!-- Токен CSRF для защиты от подделки запросов -->
                {% csrf_token %}
                <!-- Форма для обновления данных пользователя, отображаемая в виде абзацев -->
                {{ user_form.as_p }}
                <!-- Форма для обновления данных профиля, отображаемая в виде абзацев -->
                {{ form.as_p }}
                <!-- Кнопка для подтверждения изменений профиля -->
                <div class="d-grid gap-2 d-md-block mt-2">
                    <button type="submit" class="btn btn-dark">Подтвердить изменение профиля</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

